.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
backend.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
*.pem
.DS_Store
.env
